:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: $--dark-bg;
  -webkit-text-size-adjust: 100%;
}
.app {
  background-color: #202a2f;
}
.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button{
  border: none;
  border-radius: 0;
  padding: 8px 16px;
  background-color: $--lightblue-secondary;
  font-size: 18px;
  margin: 12px;
}
