:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    background-color: $--dark-bg;
    -webkit-text-size-adjust: 100%;
  }
  .app{
    background-color: #1B262C;
  }